@model IEnumerable<Subject>

@{
    ViewData["Title"] = "Przedmioty";
}

<h1>Przedmioty: </h1>

<p>
    <a asp-action="Create" authorization-policy="RequireAdmin">Dodaj przedmiot</a>
</p>

@{ await Html.RenderPartialAsync("_StatusMessage"); }

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th authorization-policy="RequireAdmin">
                    Zarządzaj
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(itemModel => item.Name)
                    </td>
                    <td authorization-policy="RequireAdmin">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="ml-2">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <b class="mt-5">Brak dodanych przedmiotów.</b>
}
