@model Group

@{
    ViewData["Title"] = "Usuń grupę";
}

<h1>Usuwanie grupy studenckiej: </h1>

<h3>Czy chcesz usunąć grupę o podanych poniżej danych?</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger" onclick="onDelete()" value="Usuń" />
        <a class="ml-2" asp-action="Index">Cofnij</a>
    </form>
</div>